<h1>Explore Collections</h1>
<a href= '/manonthemoon'>
  <div class="whole-card">
    <mat-card class="example-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image class="responsive" src="https://images.unsplash.com/photo-1620428268482-cf1851a36764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1109&q=80">
    <mat-card-content>
      <div class='flex-row'>
        <div><h6>Haven</h6> </div>

        <div><h6>Price</h6></div>
      </div>
      <div class='flex-row'>
        <div><h6>Man On The Moon</h6> </div>

        <div><h6>
  <svg fill="gray" viewBox="-38.39985 -104.22675 332.7987 625.3605" style="width: 12px;"><path d="M125.166 285.168l2.795 2.79 127.962-75.638L127.961 0l-2.795 9.5z"></path><path d="M127.962 287.959V0L0 212.32z"></path><path d="M126.386 412.306l1.575 4.6L256 236.587l-128.038 75.6-1.575 1.92z"></path><path d="M0 236.585l127.962 180.32v-104.72z"></path><path d="M127.961 154.159v133.799l127.96-75.637z"></path><path d="M127.96 154.159L0 212.32l127.96 75.637z"></path></svg>
          5 ETH</h6></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
</a>
